.big-block{
	height: 100px;
}
.block{
	height: 50px;
}
.orange{
	background: #FFAF47;
}
.blue{
	background: lightblue;
}
.red{
	background: #FF7747;
}
.yellow{
	background: #FFD647;
	margin: 5px 0;
}
.pink{
	background: #FDC1FF;
}
.container-fluid{
	padding: 0 5px;
}
.row{
	margin: 10px 0;
}
.row div[class^="col"]{
	padding: 0 10px;
}