*{
	margin: 0;
	padding: 0;
	font-family: Arial;
}
.container{
	padding: 20px;
}
button{
	padding: 5px 15px 10px 15px;
	text-transform: uppercase;
	background: linear-gradient(#E0E0E0, #AFAFAF);
	border-radius: 10px;
	/*border: 1px solid #B3B3B3;*/
	color: #555555;
	font-weight: bold;
	font-size: 24px;
	border: 1px solid #7f7f7f;
	box-shadow: 
		0 0 0 4px #CACACA, 
        0 0 0 6px #F8F8F8, 
        0 0 0 8px #757575;
}
button:before, button:after{
	content: " \2605 ";
}